<div class="header">
  <h1>Image Select</h1>
</div>


<div>
	<form action="/imageDownload" method="POST">
		<div>
			<input type="hidden" name="script" value="<%= baseScript %>">
			<p><%= baseScript %></p>
		</div>

		<div>
				<ul>
					<% for (let i = 0; i < cardImages.length; i ++) { %>
						<li>
						<ol>
							<% for (let j = 0; j < cardImages[i].length; j ++) { %>
								<li id="<%= `${i}.${j+1}` %>" onclick="removeItem(<%= `${i}.${j+1}` %>)">
									<input type="hidden" name="image<%= i %>" value="<%= cardImages[i][j] %>">
									<img src="<%= cardImages[i][j] %>"> 
								</li>
							<% } %>
						</ol>
						</li>
					<% } %>
				</ul>
			  <input type="submit" value="Download Images">
		</div>
	</form>
</div>

<script>
	function removeItem(card){
    let list = document.getElementById(card).parentNode;
    let image = document.getElementById(card);
		for (let i = list.children.length -1; i >= 0; i --) { 
			if (card.toString() !== list.children[i].id) {
				list.removeChild(list.children[i]);
			}
		}
	}
</script>